PORT=3000
DATABASE_URL=

# Server Configuration
NODE_ENV=development
CORS_ORIGIN=*

# Authentication Secrets
JWT_SECRET=donateconnect_jwt_super_secret_access_token_key_min32
JWT_REFRESH_SECRET=donateconnect_jwt_super_secret_refresh_token_key_min32

# Initial Platform Seed Admin (Optional)
ADMIN_EMAIL=admin@donateconnect.org
ADMIN_PASSWORD=

# Email Service Configuration (Brevo)
BREVO_API_KEY=
BREVO_SENDER_EMAIL=pruthviupadhya31@gmail.com
BREVO_SENDER_NAME=DonateConnect